<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.chromatogram.xxd.process.supplier.alignment.ui.preferences.PreferencePage"
            id="net.openchrom.chromatogram.xxd.process.supplier.alignment.ui.preferences.preferencePage"
            name="Chromatogram Alignment">
      </page>     
   </extension>
</plugin>
